h1 {
    text-align: center;
    padding: 10px;
}

.photo-container {
    margin: 0 auto;
    display: grid;
    justify-content: center;
    gap: 20px;    
    grid-template-columns: repeat(3, 1fr);
    
}

.photo{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.photo img{
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
} 


#big-photo {
    display: none;
    position: fixed;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 1001;
    justify-content: center;
    align-items: center;
}

#big-photo.show{
    display: flex;
}

#big-photo img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
